<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor Pasar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <div class="heading">
      <h2> Escanea los tags NFC de los estudiantes</h2>
    </div>
  
    <div class ="container">
      <div text-center>
        <img width="200px" heigth="200px" src = "./assets/NFC-tag.png"/>
      </div>
    </div>
  
    <div>
      <ion-button expand="block" color="secondary" shape="round"> 
          Terminado </ion-button>
    </div> 
    
  </ion-content>

</ion-content>