.error-ion-padding{
    font-size: small;
    color: red;
    padding-left: 5%;
}

ion-loading.custom-loading {
    --background: #e3edff;
    --spinner-color: #1c6dff;
  
    color: #1c6dff;
}

img { 
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1.5px solid #049e18;
    margin-top: 10px;
    margin-left: 445px;
}

.center {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row {
    display: flex;
    height:auto;
  }
