<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <div class="heading">
      <h2> PROFESOR </h2>
    </div>

    <div class = "btnAsistencia">
      <ion-button expand="block" color="secondary" shape="round" [routerLink]="['/profesor-asignaturas']" routerLinkActive="routerLink">
        <ion-icon name="time" slot="start"></ion-icon> Pasar Asistencia </ion-button>
    </div>

    <div class = "btnVisualizarLista">
      <ion-button expand="block" color="tertiary" shape="round" [disabled] = "false" [routerLink]="['/profesor-asignaturas']" routerLinkActive="routerLink">
        <ion-icon name="documents-outline"> slot="end"></ion-icon> Visualizar Asignaturas </ion-button>
    </div>

    <div class = "btnEliminarRegistro">
      <ion-button expand="block" color="danger" shape="round" [routerLink]="['/profesor-asignaturas']">
        <ion-icon name="calendar-number" slot="end"></ion-icon> Visualizar Asistencias </ion-button>
    </div>

  </ion-content>

</ion-content>
