<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="logout($event)">
      <ion-icon slot="icon-only" name="exit-outline"></ion-icon>>
    </ion-button>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Register Tag</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form  (ngSubmit)="submitForm()" [formGroup]="tagInfoForm" novalidate>
  <div class="content" >
   

    <ion-text class="ion-margin-bottom">Ingrese los datos a guardar</ion-text>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">ID</ion-label>
      <ion-input formControlName = "id" [(ngModel)]="id" name="id" required></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf="isSubmitted && tagInfoForm.hasError('required' , 'id')">
      Indique el id del estudiante
    </span>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Cédula</ion-label>
      <ion-input formControlName = "identification" [(ngModel)]="identification" name="identification" required placeholder="XX-XXXX-XXXXXX"></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf="isSubmitted && tagInfoForm.hasError('required' , 'identification')">
      Indique la cedula del estudiante
    </span>
    <span class="error-ion-padding" *ngIf="isSubmitted && tagInfoForm.hasError('pattern' , 'identification')">
      por favor, utilice el formato de cedula completo
    </span>

    <ion-button type="submit" class="ion-margin-top">Guardar</ion-button>
  
  </div>
</form>


</ion-content>
