<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="img">
          <img src="https://static.thenounproject.com/png/4100348-200.png"/>
        </div>
        <ion-button [routerLink]="['/register']" shape="round" expand="block" color="primary">Registrarse</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">Ya estás registrado?</span>
        <ion-button [routerLink]="['/login']" shape="round" expand="block" color="primary">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
